.theme-light .lookLink-9FtZy-.colorTransparent-1ewNp9:hover .contents-18-Yxp {
    background-image: linear-gradient(0deg, transparent, transparent 1px, var(--color1) 0, var(--color1) 2px, transparent 0)
}

.theme-light .theme-dark .lookOutlined-3sRXeN.hoverTransparent-2Lz5CN.hasHover-3X1-zV:hover,
.theme-light .theme-light .lookOutlined-3sRXeN.hoverTransparent-2Lz5CN.hasHover-3X1-zV:hover {
    border-color: var(--color1);
    color: var(--text-color)
}

.theme-dark .guildIcon-2Oo1tK {
    border: 4px solid var(--color2)
}

.card-m3Looc {
    background: var(--color3);
    border-color: var(--color3)
}

.theme-dark #autocomplete-popout section {
    background-color: var(--color4);
    color: var(--selection-color)
}

.theme-dark .itemSubMenu-1vN_Yn- {
    background: orange
}

.theme-light .bubble-3we2di:before {
    border-top-color: var(--color1)
}

.theme-dark .bubble-3we2di:before {
    border-top-color: var(--selection-color)
}

.theme-light .select-2TCrqx .is-focused .Select-control .Select-arrow,
.theme-light .select-2TCrqx .Select-control:hover .Select-arrow {
    border-color: var(--color1) transparent transparent
}

.theme-light .select-2TCrqx .is-open .Select-control .Select-arrow {
    border-color: transparent transparent var(--selection-color)
}

.theme-dark .select-2TCrqx .is-disabled .Select-control:hover .Select-arrow,
.theme-dark .select-2TCrqx .Select-control .Select-arrow {
    border-color: var(--selection-color) transparent transparent
}

.wrapper-2NJDcI {
    background-color: var(--color2);
    color: var(--selection-color)
}

.calls-1asJWc:after {
    border-bottom: 1px solid var(--color3)
}

.controls-2NrGNJ {
    background: orange border-bottom
}

.container-1UB9sr {
    border-bottom: 1px solid var(--color2)
}

.dark-2P8byF span {
    background-color: var(--color1);
    border-color: var(--color3)
}

.theme-light .auditLog-3jNbM6:hover .expandForeground-1nZ4VR {
    stroke: var(--selection-color)
}

.theme-dark .auditLog-3jNbM6 {
    border-color: var(--color3);
    color: var(--selection-color)
}

.theme-dark .colorPickerCustom-2CWBn2 {
    background: var(--color2);
    border-color: var(--color3)
}

.theme-light .topSectionNormal-2-vo2m .tab-bar.tabBar-2MuP6- .tabBarItem-1b8RUP.selected,
.theme-light .top-28JiJ- .itemSelected-1qLhcL {
    border-bottom-color: var(--color2);
    color: var(--color2)
}

.theme-light .selected-P8xTeN {
    border-bottom: 2px solid var(--color1);
    color: var(--color1)
}

.theme-light .attachPopoutIconForeground-OohRrL,
.theme-light .attachButtonPlus-rUdX-B,
.theme-light .notAllowedIcon-3j9AKY,
.theme-light .icon-17zDF5,
.theme-light .colorPickerSwatch-5GX3Ve.noColor-1pdBDm .colorPickerDropperFg-3jYKWI,
.theme-light .guild-settings-members-member .overflow-icon-fg,
.theme-light .auditLogMembersIconFg-2dfgB- {
    fill: var(--color1)
}

.gameBackgroundOverlay-10Ux9G {
    background-image: linear-gradient(90deg, var(--color3), #1f2123)
}

.theme-light .multiInputLast-1aQ3YA:before {
    border-right-color: var(--selection-color)
}

.theme-light .accountBtnInner-sj5jLs:hover,
.theme-dark .ui-standard-sidebar-view .btn-close,
.theme-dark .checkbox-1ix_J3,
#app-mount .input-cIJ7To:focus,
#app-mount .input-cIJ7To.focused-1mmYsC {
    border-color: var(--text-color)
}

.theme-dark .accountBtnInner-sj5jLs {
    background-color: var(--color2);
    border-color: var(--color3)
}

.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-color: var(--color4);
    border-color: var(--color3)
}

.theme-light .link-1IoFq-:hover .foreground-26ym5y,
.theme-dark .user-settings-games .overlay-toggle-icon-on .fill,
.theme-brand .iconForeground-1w5n7R,
.theme-dark .iconForeground-1w5n7R,
.theme-light .iconForeground-1w5n7R {
    fill: var(--selection-color)
}

.theme-dark .container-1YxwTf .markup-2BOw-j pre {
    background: var(--color4);
    border-color: var(--color3)
}

.theme-light .searchanswer-1n6g43-yD90ey,
.theme-light .searchFilter-2ESiM3,
.unread-1xRYoj:hover,
.theme-dark .input-2VB9rf,
.theme-light .content-8biNdB ul li:before,
.themeDefault-24hCdX,
.theme-dark .bubble-3we2di,
.theme-dark .theme-dark .lookFilled-1Gx00P.hoverPrimary-2D1j2r.hasHover-3X1-zV:active,
.theme-dark .theme-light .lookFilled-1Gx00P.hoverPrimary-2D1j2r.hasHover-3X1-zV:active,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:active,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
    background-color: var(--selection-color) !important
}

.search-results-wrap .search-header .spinner-wrapper .spinner .path,
.theme-light .phoneField-38N1bJ .phoneFieldExpand-2DzY5G,
.theme-light .expandIconForeground-1h4s61 {
    stroke: var(--color1)
}

.theme-dark .search-results-wrap .scroller-wrap .scroller::-webkit-scrollbar-thumb {
    border: 3px solid var(--color4) !important
}

.theme-dark .search-results-wrap .search-result:after,
.theme-dark .search-results-wrap .search-result:before {
    background-image: linear-gradient(180deg, hsla(223, 7%, 20%, 0), hsla(223, 7%, 20%, 0))
}

.theme-dark .search-results-wrap .search-result .search-result-message.hit,
.theme-dark .search-results-wrap .search-result.expanded .search-result-message.hit {
    border: 1px double var(--text-color)
}

.theme-dark .search-results-wrap .search-result.expanded {
    border: 2px solid hsla(208, 21%, 14%, 0.6)
}

.theme-dark .gameDefault-2SBp6B:focus,
.theme-dark .gameDefault-2SBp6B:hover {
    background-color: var(--color2);
    border-color: var(--color1)
}

.theme-dark .gameSelected-31teRt {
    background: var(--color3);
    border-color: var(--color1)
}

.aka-1mqp34 {
    background: var(--selection-color)
}

.channelNotices-41mJbj .channelNotice-1-XFjC.guildMFAWarning-3GEzs8 {
    background: var(--color3) url("/assets/916a384814e3bbd2a84e2a1b352a17c3.svg") no-repeat center 20px
}

.channelNotices-41mJbj .channelNotice-1-XFjC.invite-OjTXrW,
.channelNotices-41mJbj .channelNotice-1-XFjC.lfg-3h9KFj {
    background: var(--color3) url("/assets/bf625d223187f542b9d7179109422e2c.svg") no-repeat center 20px
}

.channelNotices-41mJbj .channelNotice-1-XFjC.quickswitcher-35bYg4 {
    background: var(--color3) url("/assets/8fdb69b7684b8e1ecb3fdde909daca41.svg") no-repeat center 35px
}

.private-channels .status {
    border: 2px solid var(--color4)
}

.private-channels .channel.selected a,
.theme-dark .divider-23swzi {
    background-color: rgba(17, 17, 17, 0.363)
}

.theme-dark .player-SAAFSX {
    border-bottom-color: var(--color2)
}

.theme-dark .listeningAlongList-2ajzb_,
.theme-dark .preview-yX6Nx7,
.theme-dark .connectedAccount-36nQx7,
.theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx,
.theme-dark .input-cIJ7To.disabled-2BKQFm,
.theme-dark .cardPrimaryEditable-3KtE4g,
.theme-dark .cardPrimary-1Hv-to {
    background-color: var(--color4) !important;
    border-color: var(--color3) !Important;
}

.theme-dark .listeningAlongList-2ajzb_:before {
    background-color: var(--color4);
    border-bottom-color: var(--color3);
    border-right-color: var(--color3)
}

.theme-dark .inviteRow-1OabNn:hover,
.theme-dark .guildIconEmptyBackground-1vkexE,
.theme-dark .partyMemberBackground-aSF9mc,
.theme-dark .partyMemberOverflow-3VhFIX,
.theme-dark .overflowUserOverflow-1i067A,
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action:hover,
.separator-3XsEnS,
.theme-light .callAvatarWrapper-TICyxO .ripple-16ZT2p,
.theme-dark .user-settings-games .divider-vertical,
.theme-light .helpIcon-2EyVTp,
.theme-dark .moreUsers-1sZP3U,
.theme-dark .accountBtnInner-sj5jLs:hover,
.theme-dark .input-3yHnCz,
.theme-dark .phoneField-38N1bJ .countryButton-3xq3Ts,
.theme-dark .searchBar-1MOL6S,
.theme-dark .embedPill-1Zntps,
.theme-dark .keybindShortcutTipsSelect-HDyfe8:last-of-type:before,
.contentSelectedText-3wUhMi,
.theme-dark .radio .radio-inner,
.theme-light .bubble-3we2di,
.theme-dark .playerOverflow-EcFDW9,
.moreUsers-1s5Her,
.theme-light .themedPagination-2b9cm5 .dot-27V-Ot,
.spinnerItem-3JjAoz,
.theme-light .lookLink-9FtZy-.colorTransparent-1ewNp9 .spinnerItem-3GlVyU,
.theme-light .lookGhost-2Fn_0-.colorTransparent-1ewNp9 .spinnerItem-3GlVyU,
.theme-light .lookOutlined-3sRXeN.colorTransparent-1ewNp9 .spinnerItem-3GlVyU,
.theme-light .lookInverted-2D7oAl.colorTransparent-1ewNp9,
.theme-light .lookFilled-1Gx00P.colorTransparent-1ewNp9 .spinnerItem-3GlVyU,
.theme-light .lookInverted-2D7oAl.colorPrimary-3b3xI6,
.theme-light .lookFilled-1Gx00P.colorPrimary-3b3xI6 .spinnerItem-3GlVyU,
.theme-dark .theme-dark .lookFilled-1Gx00P.hoverPrimary-2D1j2r.hasHover-3X1-zV:hover,
.theme-dark .theme-light .lookFilled-1Gx00P.hoverPrimary-2D1j2r.hasHover-3X1-zV:hover,
.theme-dark .lookInverted-2D7oAl.colorPrimary-3b3xI6 .spinnerItem-3GlVyU,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6,
.lookInverted-2D7oAl.colorWhite-rEQuAQ,
.lookFilled-1Gx00P.colorWhite-rEQuAQ .spinnerItem-3GlVyU,
.verifyConnectedAccount-3WFmtE,
#oauth2-authorize,
#oauth2-message,.channel-2QD9_O.selected-1HYmZZ a, .channel-2QD9_O:hover a {
    background-color: var(--color3)
}

.theme-dark .chat-3bRxxu .hasMore-sul95G button,
.theme-dark .popout-3dRSmE .hasMore-sul95G button {
    border: 1px solid var(--color4)
}

.theme-dark .incomingCallInner-2VmFiR,
.theme-dark .item-1Yvehc:hover,
.theme-dark .itemSubMenu-1vN_Yn-:hover,
.theme-dark .contextMenu-1Yvehc {
    background: var(--color3)
}

.theme-dark .videoPreview-22khDR {
    background-color: var(--color4);
    border: 1px solid var(--color3)
}

.theme-dark .verificationBlock-1Chfpc,
.overlay-1NmNEg {
    border: 1px solid var(--color3)
}

.theme-dark #friends .scroller-wrap ::-webkit-scrollbar-track-piece,
.theme-dark .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-track-piece,
.theme-dark .friends-table .scroller-wrap.polyfill .scrollbar .track,
.theme-dark .messagesWrapper-3lZDfY .scroller-wrap .scrollbar .track,
#app-mount .messageGroupBlocked-3wrQQX {
    background-color: var(--color4) !important;
    border-color: var(--color2)
}

.theme-dark .friends-table .scroller-wrap.polyfill .scrollbar .thumb,
.theme-dark .messagesWrapper-3lZDfY .scroller-wrap.polyfill .scrollbar .thumb {
    background-color: var(--color2);
    border-color: var(--color2)
}

.theme-dark .member-3W1lQa:hover .content-OzHfo4.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background: rgba(55, 53, 53, 0.69)
}

.theme-dark .private-channel-recipients-invite .friend.selected .avatar-small .status,
.theme-dark .private-channel-recipients-invite .friend:hover .avatar-small .status,
.theme-dark .members-1998pB .member-3W1lQa.popout-3dRSmE-open .status,
.theme-dark .members-1998pB .member-3W1lQa:hover .status,
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group {
    border-color: orange
}

.appMount-3VJmYg,
.theme-dark .verificationBlock-1Chfpc:hover,
.theme-dark .pictureInPictureVideo-20ZvXn,
.theme-dark .header-2SusZD,
.article-FleDq5,
.carousel-K6OrVA,
.news-2C2kok,
.video-1FfuMD,
.theme-dark .private-channel-call,
.theme-dark .mediaBarInteraction-37i2O4,
.mediaBarInteractionDragging-2QurIZ,
.guildsWrapper-5TJh6A,
.noticePremium-12Zvj9,
.notice-RSKmnp,
.buttonInner-1stGzH,
.theme-dark .root-SR8cQa .note-QfFU8y textarea:focus,
.theme-dark .divider-1pnAR2,
.theme-dark .headerNormal-T_seeN,
.theme-dark #autocomplete-popout .autocomplete-arrow,
.theme-dark #autocomplete-popout .autocomplete-header-background,
.theme-dark .note-3kmerW textarea:focus,
.theme-dark .scrollbarDefault-3COgCQ::-webkit-scrollbar-thumb,
.theme-dark .gamePopout-1rWPXV,
.news-2speFs,
.scrollerThemed-2oenus.themeDark-2cjlUp .scrollbar-2rkZSL .thumb-2JwNFC,
.theme-dark .scrollerWrap-2lJEkd .scrollbar-2rkZSL .thumb-2JwNFC,
.theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scrollbar-2rkZSL .thumb-2JwNFC,
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-light .theme-dark .lookInverted-2D7oAl.hoverPrimary-2D1j2r.hasHover-3X1-zV:active,
.theme-light .theme-light .lookInverted-2D7oAl.hoverPrimary-2D1j2r.hasHover-3X1-zV:active,
.theme-light .lookInverted-2D7oAl.colorPrimary-3b3xI6:active,
.theme-dark #friends .scroller-wrap ::-webkit-scrollbar-thumb,
.theme-dark .search-results-wrap .scroller-wrap .scroller::-webkit-scrollbar-track-piece,
.topSectionNormal-2-vo2m {
    background-color: var(--color3) !important
}

.theme-dark.contextMenu-HLZMGh,
.itemSubMenu-1vN_Yn {
    background: var(--color3) !important
}

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb,
.theme-dark .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color: black;
    border-color: var(--color2)
}

.unread-1xRYoj {
    background-color: var(--selection-color);
    color: var(--text-color)
}


.theme-dark .messagesWrapper-3lZDfY {
    background-color: var(--color2);
    border-color: var(--color3);
}
.theme-dark .messageGroupWrapper-o-Zw7G{
    background-color:var(--color2)
}
.theme-dark .quickMessage-1yeL4E{
    background-color:var(--color3);
    border-color:var(--color3);
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover {
    border-color: var(--color3)
}

.theme-dark .card-FDVird:before {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: var(--text-color)
}

.theme-dark .user-settings-games .game {
    -webkit-box-shadow: 0 1px 0 0 var(--text-color)
}

.theme-dark .gamePreview-9weYR2 {
    background: var(--color3)
}

.theme-dark .chat-3bRxxu .da-jumpToPresentBar:hover {
    background-color: var(--color1)
}

.theme-dark #friends .friends-table .friends-row:hover,
.headerButtonColor-G7_f-V,
.theme-dark .partyMemberEmpty-2iyh5g,
.auth-inner .auth-name:after,
.theme-dark .markDash-3hAolZ,
.theme-dark .bar-2Qqk5Z,
.emptyUser-3FRJaF {
    background: var(--color1)
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background: var(--text-color);
    border-color: var(--text-color)
}

.checked-3_4uQ9 {
    background-color: hsla(0, 0, 0, 0.33) !important;
    border-color: var(--text-color) !important
}

.chat-3bRxxu .newMessagesBar-mujexs:hover,
.da-chat,
.da-newMessageBar:hover {
    background-color: hsla(227, 58%, 65%, 1) !important
}

.theme-dark .popout-3dRSmE .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi.message-group:hover .actionButtons-1sUUug,
.search-results-wrap .actionButtons-1sUUug,
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    -webkit-box-shadow: 0 0 6px 4px var(--color2);
    background-color: var(--color2)
}

#app-mount .actionButtons-1sUUug .jumpButton-3DTcS_ {
    background-color: hsla(223, 3%, 34%, 1) !important;
    color: hsla(0, 0, 100%, .6)
}

.premiumPaymentModal-3SpIbo {
    background: var(--text-color)
}

.bf-toolbar:before,
#permissions-modal-wrapper .role-side {
    background: hsla(214, 5%, 27%, 1) !important
}

#permissions-modal-wrapper .perm-side,
.theme-dark .layer-3QrUeG,
.theme-dark .layers-3iHuyZ,
.theme-dark .title-3qD0b,
.theme-dark .title-3qD0b-,
.theme-dark .noChannel-Z1DQK7,
.theme-dark .headerBar-UHpsPw,
.search-bar-tag,
.theme-dark .popout-3dRSmEList-2NT_IY,
.theme-dark .ui-standard-sidebar-view .content-region,
.theme-dark .ui-standard-sidebar-view,
.guildInner-1SgG,
.theme-dark .number-3ceIrJ {
    background: var(--color1) !important;

}

#permissions-modal-wrapper .header {
    background: hsla(217, 8%, 23%, 1) !important
}

.theme-dark .member-3W1lQa-3W1lQa.popout-3dRSmE-open .content-OzHfo4,
.theme-dark .member-3W1lQa-3W1lQa.popout-3dRSmE-open:hover .content-OzHfo4 {
    background-color: hsla(217, 8%, 34%, 0.6)
}

.theme-dark .member-3W1lQa-3W1lQa:hover .content-OzHfo4 .status-2s6iDp,
.theme-dark #friends .scroller-wrap ::-webkit-scrollbar-thumb,
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb,
.theme-dark .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-thumb,
.theme-dark .bottomSeparator-dSVoAY,
.private-channels .channel:hover .status,
.theme-dark .iconBadge-2dji3k,
.theme-dark .flag-16iIBd.vip-3pFIN8:after,
.theme-dark .member-3W1lQa-3W1lQa.popout-3dRSmE-open .content-OzHfo4 .status-2s6iDp,
.theme-dark .member-3W1lQa-3W1lQa.popout-3dRSmE-open:hover .content-OzHfo4 .status-2s6iDp,
.theme-light .prefixInput-14nUik:hover,
.theme-light .lookOutlined-3sRXeN.colorTransparent-1ewNp9:hover,
.theme-dark .actionButton-VzECiy,
.theme-light .lookOutlined-3sRXeN.colorTransparent-1ewNp9:active,
.theme-dark .theme-dark .lookOutlined-3sRXeN.hoverPrimary-2D1j2r.hasHover-3X1-zV:active,
.theme-dark .theme-light .lookOutlined-3sRXeN.hoverPrimary-2D1j2r.hasHover-3X1-zV:active {
    border-color: var(--color2)
}

.theme-dark .status-2s6iDp,
.theme-dark .private-channel-recipients-invite .friend .avatar-small .status,
.theme-dark .members-1998pB .avatar-small .status,
.theme-dark .friends-table .messages-3amgkR .messageGroupBlocked-3wrQQX.revealed-1_RKsf,
.theme-dark .messagesWrapper-3lZDfY .messages-3amgkR .messageGroupBlocked-3wrQQX.revealed-1_RKsf,
.theme-dark .friends-table .messages-3amgkR .messageGroupBlocked,
.theme-dark .messagesWrapper-3lZDfY .messages-3amgkR .messageGroupBlocked,
.theme-dark .emptyState-2-sT0o,
.theme-dark .avatarStatus-3jMZl_ {
    border-color: var(--color4)
}

.tooltip-bottom::after {
    border-bottom-color: var(--text-color) !important
}

.tooltip-right::after {
    border-right-color: var(--text-color) !important
}

.tooltip-left::after {
    border-left-color: var(--text-color) !important
}

.tooltip-top::after {
    border-top-color: var(--text-color) !important
}

.tipsy-inner {
    background-color: var(--text-color) !important;
    color: white
}

.theme-dark .private-channel-recipients-invite .friend.selected,
.theme-dark .private-channel-recipients-invite .friend:hover {
    background: linear-gradient(90deg, hsla((216, 9%, 17%, 1)) 85%, hsla((223, 7%, 20%, 1)))
}

.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: hsla(210, 10%, 20%, 1)
}

.bd-modal-wrapper .header {
    background-color: hsla(217, 8%, 23%, 1) !important
}

.bd-modal-wrapper .footer button:hover,
.private-channel-recipients-invite .footer button:hover {
    background: rgba(0, 0, 0, 0.5)
}

.bd-modal-wrapper .footer button,
.private-channel-recipients-invite .footer button {
    background: rgba(0, 0, 0, 0.2)
}

.theme-dark #friends .tab-bar .tab-bar-item.selected .badge,
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary,
.theme-dark .chat-3bRxxu .da-jumpToPresentBar,
.headerPlaying-j0WQBV.header-2BwW8b.size16-14cGz5,
.topSectionPlaying-1J5E4n,
.theme-dark .select-2TCrqx .Select-menu-outer,
.theme-dark .select-2TCrqx .is-disabled .Select-control,.bd-pfbtn.bd-pfbtn,.bda-slist .bda-footer button {
    background-color: var(--text-color);
    transition:background-color ease-in .3s;
}

.theme-dark .searchPopout-1vUlP3 {
    background-color: var(--color2);
    border: 1px solid rgba(28, 36, 43, .6)
}

.theme-dark .searchQuery-1B7rtx.selected-rZcOL- {
    background-color: rgba(0, 0, 0, 0.1) !important
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw,
.theme-dark .resultsGroup-r_nuzN:before {
    border-top: 1px solid hsla(223, 8%, 10%, 0.3);
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover,
.theme-dark .option-96V44q.selected-rZcOL-,
.chat-3bRxxu .newMessagesBar-mujexs {
    background-color: var(--text-color) !important;
}

.theme-dark .searchAnswer-3Dz2-q,
.theme-dark .searchFilter-2ESiM3,
.theme-dark .searchanswer-1n6g43-yD90ey {
    background-color: hsla(217, 8%, 23%, 1)
}

.react-datepicker__day.react-datepicker__day--tue.react-datepicker__day--outside-month,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
    background-color: hsla(223, 7%, 20%, 1) !important
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    background-color: var(--text-color);
    color: hsl(0, 0, 100%)
}

.container-2lgZY8,
#app-mount .search-results-wrap .channel-separator .channel-name {
    background: transparent;
    background-color: var(--color4)
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc,
.uploadModal-2ifh8j,
.theme-dark .body-1SVoBw,
.theme-dark .themed-popout,
.theme-dark .members-1998pB,
.theme-dark .friends-table .scroller-wrap.polyfill .scrollbar,
.theme-dark .friends-table .scroller-wrap.polyfill .scrollbar .thumb,
.theme-dark .friends-table .scroller-wrap.polyfill .scrollbar:after,
.theme-dark .messagesWrapper-3lZDfY .scroller-wrap.polyfill .scrollbar,
.theme-dark .messagesWrapper-3lZDfY .scroller-wrap.polyfill .scrollbar .thumb,
.theme-dark .messagesWrapper-3lZDfY .scroller-wrap.polyfill .scrollbar:after,
.app.fake .channels-wrap,
.channels-Ie2l6A,
.theme-dark .content-YDiGuN,
.theme-dark .header-1RC2Wb,
.container-PNkimc,
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action,
.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected),
.theme-dark .input-autosize-input:focus,
.theme-dark .search-results-wrap .channelSeparator-1MxuvT .channelName-3kBz6H,
.theme-dark .search-results-wrap,
.theme-dark .footer-2VgWkh,
.theme-dark .popout-3dRSmE .messagesPopoutWrap-1MQ1bW,
.noIcon-1a_FrS,
.search-bar,
.theme-dark .autocomplete-1vrmpx,
.verifyConnectedAccount-3WFmtE .btn-3HQv6W:disabled,
.container-16j22k,
.theme-dark .attachPopout-1n-ZKM,
.theme-dark .tiles-2aXG_k,
.theme-dark .quickswitcher-3JagVE,
.theme-dark .body-3ND3kc,
.auth-background,
.auth-tiling-bg,
.container-GLDMJI,
.popout-3dRSmE-2Py-_h .section-3cH4zH,
.scroller-wrap.dark .scrollbar .thumb,
.scroller-wrap.dark .scrollbar,
.scroller-wrap.dark .scrollbar:after,
.theme-dark .body-3iLsc4,
.theme-dark .footer-1fjuF6,
.theme-dark .body-35FeGh,
.info-CdF_ik,
.theme-dark .footer-2yfCgX,
.themeDark-3BOwlz,
.theme_dark-2FtE3l,#app-mount .container-3ayLPN {
    background-color: var(--color4) !important
}

.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: var(--color4)
}

.uploadModal-2ifh8j .footer-3mqk7D .button:nth-of-type(1) {
    background-color: hsla(0, 0, 2%, 0)
}

.theme-brand .inner-zqa7da,
.uploadModal-2ifh8j .inner-3nWsbo {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.1) !important
}

#app-mount .isMentioned-N-h9aa {
    background: rgba(0, 0, 0, 0.5) !important
}

#memberCount,
.theme-dark .private-channel-recipients-invite .friend,
#dv-mount,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4,
.theme-dark .container-1YxwTf .markup-2BOw-j code.inline,
.theme-dark .container-1YxwTf .markup-2BOw-j pre code,
.theme-dark .sidebar-1-SQro,
.guildsWrapper-5TJh6A .guildSeparator-1X4GQ1:after,
.theme-dark .quickSelectPopout-X1hvgV,
.theme-dark .ui-standard-sidebar-view .sidebar-region,
.guildInner-8UFXi4,
.dataPoint-1wXGs_ {
    background: var(--color4) !important
}

.theme-dark .friends-table .messages-3amgkR .messageGroupBlocked-3wrQQX.revealed-1_RKsf,
.theme-dark .messagesWrapper-3lZDfY .messages-3amgkR .messageGroupBlocked-3wrQQX.revealed-1_RKsf {
    background: var(--color4) !important;
    border-color: var(--color4) !important
}

.theme-dark .friends-table .messages-3amgkR .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-,
.theme-dark .messagesWrapper-3lZDfY .messages-3amgkR .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh- {
    background: var(--color3) !important;
    color: var(--text-color)
}

button.button-1Pkqso.button-38aScr.lookOutlined-3sRXeN.colorWhite-rEQuAQ.sizeSmall-2cSMqn.grow-q77ONN {
    background: none !important
}

.ui-standard-sidebar-view #bd-customcss-attach-controls button:hover,
.bd-detached-css-editor #bd-customcss-attach-controls button:hover {
    background: inherit !important
}

.ui-standard-sidebar-view #bd-customcss-attach-controls button,
.bd-detached-css-editor #bd-customcss-attach-controls button,
.barFill-23-gu-,
.side-8zPYf6 .itemSelected-1qLhcL,
#bd-settings-sidebar .ui-tab-bar-item.selected,
.themeDefault-24hCdX.valueChecked-m-4IJZ,
#pubslayer .ui-tab-bar-item.selected,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
    background: var(--text-color) !important
}

.content-region #bd-customcss-attach-controls,
#bd-customcss-detach-container #bd-customcss-attach-controls {
    background: rgba(5, 5, 5, 0.616);
    color: hsl(0, 0, 100%);
    border: 0
}

.tooltip {
   background-color: var(--text-color) !important;
}

#app-mount .mention {
    background: none !important;
    color: var(--text-color)
}

#app-mount .mention:hover {
    color: hsla(226, 56%, 65%, 0.7) !important
}

.diversitySelector-tmmMv0 .popout-3dRSmE-2lja3I {
    border: 1px solid var(--text-color);
    background-color: var(--color1);
}

#bda-qem-twitch-container, #bda-qem-favourite-container ,
.stickyHeader-1SS0JU,.emojiPicker-3m1S-j ,
.search-bar.search-bar-light {
    background: var(--color3) !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece,
.scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background: rgba(0, 0, 0, 0.05) !important;
    border-color: transparent
}

.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-bottom-color: var(--text-color)
}

.bda-dark .emoji-picker .category,
.bda-dark .emojiPicker-3m1S-j .category-2U57w6,
.emojiPicker-3m1S-j .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track-piece,
.base-3dtUhz {
    background: transparent !important
}

.scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scroller-wrap .scroller::-webkit-scrollbar-thumb,
.scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-color: initial
}

.scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.theme-light .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05) !important
}

#bda-qem {
        background: var(--color3);
}

#bda-qem button {
    color: var(--text-color);
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    background: var(--color3)
}

#bda-qem button:hover,
#bda-qem button.active {
    background-color: var(--selection-color);
    color:var(--text-color);
}
.emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ {
    background-color: hsla(0, 2%, 4%, 0.41);
    pointer-events: auto
}

.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar,
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track,
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece,
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar,
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track,
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece {
    background: rgba(0, 0, 0, 0.05) !important;
    border-color: transparent !important
}

.theme-dark .menu-Sp6bN1 {
    background-color: var(--color3)
}

.theme-dark .item-1GzJrl:hover {
    background-color: hsla(0, 1%, 6%, 0.21);
    color: hsl(0, 0, 100%);
}

.theme-dark .header-2RyJ0Y,
h2 {
    color: var(--selection-color) !important;
}

.hasMore-3e72_v button {
    background: var(--color3) !important
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece,
.scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background: initial;
    border-color: initial
}

.theme-dark .member-3W1lQa-3W1lQa.popout-3dRSmE-open .content-OzHfo4,
.theme-dark .member-3W1lQa-3W1lQa.popout-3dRSmE-open:hover .content-OzHfo4,
.theme-dark .member-3W1lQa:hover .content-OzHfo4,
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4,
.theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
 
}
.emoji-picker, .emojiPicker-3m1S-j{
  
  border-left:1px solid var(--text-color);
  border-right:1px inset var(--text-color);
}
.diversitySelector-tmmMv0 .popout-2nUePc{
    background-color:var(--color1) ;
    border-color:var(--selection-color);
}
.checked-3_4uQ9 svg[name='Checkmark'] g polyline {
    stroke: var(--text-color)
}

.regionSelect-3lf4eE>div {
    border-color: var(--text-color) !Important
}

.need-help-modal.deprecated .header,
.need-help-modal.deprecated .footer,
.guildsWrapper-5TJh6A .guilds-add,
.regionSelectModal-12e-57,
.form-deprecated .form-actions,
.form.deprecated .form-actions,
.create-guild-container.deprecated .create-or-join .form-inner {
    border-color: var(--text-color);
    background-color: var(--color4) !important
}

.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3,
.form-deprecated .form-inner,
.form.deprecated .form-inner,
.create-guild-container.deprecated,
.create-guild-container.deprecated .action {
    background: var(--color2)
}

.create-guild-container.deprecated .action.join .action-icon,
.create-guild-container.deprecated .action.create .action-icon {
    filter: grayscale(100) invert(100) opacity(0.6)
}

.create-guild-container.deprecated .create-or-join .actions .or {
    filter: invert(59) opacity(0.3);
    mix-blend-mode: hard-light
}

.form-deprecated .btn-default,
.form.deprecated .btn-default {
    background-color: var(--color4);
    border-color: hsla(217, 7%, 20%, 1) !important
}

.need-help-modal.deprecated .header input[type=text],
.form-deprecated .control-group label,
.form.deprecated .control-group label+input,
.create-guild-container.deprecated .join-server .link-container input {
    border-color: var(--text-color) !important;
    background-color: var(--color4) !important
}

.avatar-uploader-inner,
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3,
.item-26Dhrx[style='padding: 10px; border-color: rgb(114,137,216); background-color: rgb(114,216);'] {
    border-color: var(--text-color) !important
}

.form-deprecated .control-group input[type=email],
.form-deprecated .control-group input[type=number],
.form-deprecated .control-group input[type=password],
.form-deprecated .control-group input[type=text],
.form-deprecated .control-group textarea,
.form.deprecated .control-group input[type=email],
.form.deprecated .control-group input[type=number],
.form.deprecated .control-group input[type=password],
.form.deprecated .control-group input[type=text],
.form.deprecated .control-group textarea,
.theme-dark .description-3_Ncsb,
.theme-dark .labelDescriptor-1PqHgD,
.bodyTitle-Y0qMQz,
.nameDefaultVoice-3WUH7s,
.nameLockedText-3pqQcL,
.nameLockedVoice-26MhB1,
.iconCollapsed-3hFp_8,
.iconDefault-3Gr8d2,
.nameCollapsed-34uFWo,
.nameDefault-2DI02H,
.membersGroup-v9BXpm,
.mention:hover,.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .nameCollapsed-34uFWo, .nameDefault-2DI02H,.nameDefaultText-24KCy5,
.nameDefaultVoice-3WUH7s
    {
    color: var(--text-color) !important;
}

.create-guild-container.deprecated .action.create .btn {
    background-color: rgba(114, 137, 216, 0.37)
}

.create-guild-container.deprecated .action.join .btn {
    background-color: rgba(53, 100, 78, 0.37)
}

.theme-dark .body-SKIE6r {
    background-color: hsla(223, 7%, 20%, 0.4)
}

.theme-dark .user-settings-games .not-detected,
.theme-light .user-settings-games .not-detected {
    background-color: rgba(3, 3, 3, 0.25)
}

.ace_content,
.theme-dark .keyboardShortcutsModal-3piNz7,
.theme-dark .member-3W1lQa-3W1lQa:hover .content-OzHfo4 {
    background-color: var(--color2)
}

.ace_layer.ace_gutter-layer.ace_folding-enabled,
.theme-dark .search-results-wrap .search-header,
#app-mount .messagesPopoutWrap-1MQ1bW .header-ykumBX {
    background-color: var(--color4)
}

.emojiButtonNormal-TdumYh.emojiButton-3uL3Aw.emojiButton-2wRZts.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
    background: rgba(0, 0, 0, 0)
}

.toast,
.bd-toasts .bd-toast,
.bd-modal-wrapper .bd-modal-body,
.theme-dark .search-results-wrap .search-result .hit,
.theme-dark .themed-popout .header,
.theme-dark .friends-table .messages-3amgkR .divider-3gKybi:before,
.theme-dark .friends-table .messages-3amgkR .divider-3gKybi span,
.theme-dark .messagesWrapper-3lZDfY .messages-3amgkR .divider-3gKybi:before,
.theme-dark .messagesWrapper-3lZDfY .messages-3amgkR .divider-3gKybi span,
.theme-dark .friends-table .scroller-wrap.polyfill .scrollbar,
.theme-dark .friends-table .scroller-wrap.polyfill .scrollbar:after,
.theme-dark .messagesWrapper-3lZDfY .scroller-wrap.polyfill .scrollbar,
.theme-dark .messagesWrapper-3lZDfY .scroller-wrap.polyfill .scrollbar:after,
.theme-dark .friends-table,
.theme-dark .messages-wrapper,
.app.fake,
.onboarding-slide.claim-account .claim-success,
.onboarding-navigation .onboarding-navigation-controls,
.onboarding-navigation,
.theme-dark .chat-3bRxxu,
.content-yTz4x3,
.theme-dark .chat-3bRxxu form,
.theme-dark .activityFeed-HeiGwL,
.theme-dark .sectionLine-3fsQAf,
.theme-dark .card-7JP0BX,
.private-channels .channel:hover a,
.channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P .btn-11C5_u,
.theme-dark #friends,
.theme-dark .lfg-3xoFkI,
.theme-dark .search-results-wrap .search-result.expanded .search-result-message.hit,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker,
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi.message-group,
.theme-dark .popout-3dRSmE .header-ykumBX,
.theme-dark .typing-2GQL18,
.theme-dark .add-game-popout,
.theme-dark .user-settings-games .game-name-input:focus,
.theme-dark .user-settings-games .game-name-input:hover,
.theme-dark .container-1If-HZ,
.theme-dark .reactors-Blmlhw,
.theme-dark .message-2qRu38,
.theme-dark .guildIconImage-3qTk45,
.theme-dark .selectorSelected-1_M1WV,
.theme-dark .phoneField-38N1bJ .inputField-aNPXsv,
.theme-dark .phoneField-38N1bJ,
.button-3i182Z:active .buttonInner-1stGzH,
.theme-dark .attachPopoutRow-KrE-f6:hover,
.theme-dark .button-mM-y8i,
.contentHoveredText-2D9B-x,
.contentHoveredVoice-3p_NEO:active,
.contentSelectedVoice-1WDIBM:active,
.theme-dark .overflowRolesPopout-140n9i,
.theme-dark .overflowRolesPopoutArrow-2O66oH,
.theme-dark .playersHeaderLine-1NQM6k,
.theme-dark .modal-3HD5ck,
.scrollerThemed-2oenus.themeDark-2cjlUp .scrollbar-2rkZSL,
.scrollerThemed-2oenus.themeDark-2cjlUp .scrollbar-2rkZSL .pad-29zQak,
.theme-dark .scrollerWrap-2lJEkd .scrollbar-2rkZSL,
.theme-dark .scrollerWrap-2lJEkd .scrollbar-2rkZSL .pad-29zQak,
.theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scrollbar-2rkZSL,
.theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scrollbar-2rkZSL .pad-29zQak,
.invite-1_xgj9,
.theme-light .theme-dark .lookInverted-2D7oAl.hoverPrimary-2D1j2r.hasHover-3X1-zV:hover,
.theme-light .theme-light .lookInverted-2D7oAl.hoverPrimary-2D1j2r.hasHover-3X1-zV:hover,
.theme-light .lookInverted-2D7oAl.colorPrimary-3b3xI6:hover,
.da-activityFeed, .gameLibrary-TTDw4Y ,.theme-dark .applicationStore-1pNvnv{
    background-color: var(--color2) !important;
}

#app-mount .markup-2BOw-j a,
.theme-dark .keyboardShortcutList-13cQ-8 .keybindGroup--6Qp-w .keybindDescription-2RDbC2,
.theme-light .title-h1,
.theme-light .title-h2,
.theme-light .title-h3,
.theme-light .title-h5,
.theme-light .title-h6,
.theme-light .verificationBlock-1Chfpc .body-3ROqbj,
.theme-light .verification-3RfWYC .body-3ROqbj,
.theme-light .verification-3RfWYC .footer-1eZumv,
.theme-light .verification-3RfWYC .title-wZCcDo,
.theme-light .itemValue-JNy0LV,
.theme-light .item-30Gz8g,
#app-mount .members-2BNiuX,
#app-mount .subtitle-1H8FPn,
.option-96V44q-popout .btn-item:hover,
.theme-light .inviteRowName-uHzNmr,
.theme-light .username-2eM5se,
.theme-light .header-2SusZD,
.theme-dark .discriminator-2GmfTU,
.theme-dark .subtitle-nN6eXt,
.theme-light .subtitle-nN6eXt,
.theme-light .title-1LheRD,
.articleType-3SqiEI,
.theme-light .channelName-ubhBrT,
.theme-light .guildIconEmptyIcon-2pVuR1,
.theme-light .voiceChannelIcon-Ac0fPK,
.theme-light .playTime-2KDQrS,
.theme-light .gameName-Ivkyss,
.theme-light .overflowMenu-Sz6Be0,
.theme-light .username-1cRqpK,
.theme-light .headerSubtitle-2yoc5P,
.theme-light .headerTitle-1uDg0s,
.theme-dark .playTime-2KDQrS,
.theme-dark .discriminator-20nIyt,
.theme-dark .headerSubtitle-2yoc5P,
.theme-light .partyMemberOverflow-3VhFIX,
.theme-dark .partyMemberUnknownIcon-2zv8ar,
.theme-light .sectionBlurb-1GFKHM,
.theme-light .sectionTitle-M62gTF,
.theme-light .headerText-1UPpBL,
.theme-light .headerManageIcon-14qizS:active,
.theme-light .headerManageIcon-14qizS:hover,
.theme-dark .sectionBlurb-1GFKHM,
.theme-light .headerManageIcon-14qizS,
.theme-dark .headerManageIcon-14qizS,
.theme-light .tag-2VEuG-,
.theme-light .overflowUserOverflow-1i067A,
.theme-dark .discriminator-3wkphO,
.theme-dark .playTime-36tQtf,
.theme-light .sectionTitle-le2fuz,
.theme-light .card-7JP0BX,
.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected) .badge,
.theme-dark #friends .tab-bar .tab-bar-item.selected,
.theme-dark #friends .tab-bar .tab-bar-item .badge,
.theme-light .channelName-3stJzi,
.theme-light .groupDM-3qU0Ks .channelName-3stJzi,
.theme-light .groupDMManaged-1GyXtq .channelName-3stJzi,
.theme-light .input-autosize-input,
.titleText-3X-zRE,
.title-3qD0b .input-autosize-input:focus,
.titleCall-_b9o8P .input-autosize-input:focus,
.theme-light .description-3t0KC1,
.theme-light .title-SL0Wts,
.search-results-wrap .results-blocked,
.search-results-wrap .channelSeparator-1MxuvT .channelName-3kBz6H,
.theme-light .regionSelectName-c5qL8O,
.theme-light .description-2waT7u,
.theme-light .title-Ic5R7V,
.private-channel-recipients-invite .friend,
.theme-light .iconForeground-3y9f0B,
.theme-light .title-1aVOXw,
.title-1aVOXw,
.search .DraftEditor-root,
.searchQuery-1B7rtxy .search-for strong,
.search-option-96V44q .filter-3Y_im-,
.option-96V44q strong,
.option-96V44q .answer-1n6g43,
.theme-dark .theme-light .calendarPicker-2yf6Ci .react-datepicker__day,
.theme-light .calendarPicker-2yf6Ci .react-datepicker__day,
.theme-dark .theme-light .calendarPicker-2yf6Ci .react-datepicker__day-name,
.theme-light .calendarPicker-2yf6Ci .react-datepicker__day-name,
.theme-dark .theme-light .calendarPicker-2yf6Ci .react-datepicker__current-month,
.theme-light .calendarPicker-2yf6Ci .react-datepicker__current-month,
.messagesPopout-24nkyi.channelSeparator-1MxuvT .channelName-3kBz6H,
.message-group.compact .message .message-text .markup-2BOw-j .user-name,
.message-group h2 strong,
.members-1998pB .member-3W1lQa.popout-3dRSmE-open,
.members-1998pB .member-3W1lQa:hover,
.premium-settings .payment-subhead,
.theme-light .description-2nQj2E,
.theme-light .title-2-3qFV,
.theme-dark .description-2nQj2E,
.theme-light .header-13Xrkb,
.theme-light .username-1HIlwg,
.theme-dark .discriminator-lVUyi9,
.theme-dark .user-settings-games .last-played,
.theme-dark .user-settings-games .overlay-status-text,
.theme-dark .user-settings-games .now-playing-add,
.theme-light .user-settings-games .last-played,
.theme-light .user-settings-games .game-name,
.user-settings-games .last-played,
.theme-light .fontScaleLarge-3xtq7i,
.theme-light .fontScaleSmall-368quy,
.theme-light .remove-3V-yj8,
.theme-dark .discriminator-byOsvi,
.system-message .channel-name-change strong,
.system-message .system-message-content .user-name,
.system-message .system-message-content a,
.theme-dark .guildDetail-1nRKNE,
.theme-light .guildDetail-1nRKNE,
.theme-light .guildName-2hvnt_,
.theme-light .filename-3eBB_v,
.cancelButton-3hVEV6,
.downloadButton-23tKQp,
.metadata-3WGS0M,
.premiumPromoTitle-1SQQfF,
.search-bar-light .search-bar-tag,
.theme-brand .description-11DmNu,
.theme-brand .descriptionUsername-J_75O8,
.theme-brand .content-Qb0rXO,
.theme-brand .contentTitle-2tG_sM strong,
.theme-brand .contentTitle-2tG_sM,
.theme-dark .description-11DmNu,
.theme-dark .descriptionUsername-J_75O8,
.theme-dark .contentTitle-2tG_sM,
.theme-light .description-11DmNu,
.theme-light .descriptionUsername-J_75O8,
.theme-light .content-Qb0rXO,
.theme-light .contentTitle-2tG_sM strong,
.theme-light .contentTitle-2tG_sM,
.theme-light .subHeader-27gFHC,
.theme-dark .subHeader-27gFHC,
.theme-light .textLink-3aPthL,
.theme-light .message-group .textLink-3aPthL,
.theme-light .name-GG2Mcs,
.theme-light .partyStatus-6AjDud,
.theme-light .header-Hg_qNF,
.theme-dark .header-Hg_qNF,
.theme-light .userSettingsAccount-2eMFVR .viewBody-2Qz-jg,
.theme-light .userSettingsSecurity-3IYeMF .codeCheckbox-1T0TTy,
.theme-light .sectionBody-DUrZPU,
.theme-light .subHeader-3FXnUc,
.theme-dark .phoneVerificationModal-OzcDc3 .description-3JBgvQ,
.theme-light .phoneVerificationModal-OzcDc3 .description-3JBgvQ,
.theme-light .phoneVerificationModal-OzcDc3 .title-3qNdae,
.theme-light .input-3yHnCz,
.theme-light .phoneFieldPopout-h7c9mt .countryCode-2TeNMX,
.theme-light .phoneFieldPopout-h7c9mt .countryName-3dA1Xv,
.theme-light .phoneField-38N1bJ .inputField-aNPXsv,
.theme-light .phoneField-38N1bJ .countryCode-2TeNMX,
.phoneField-38N1bJ .plusSign-15Cgdh,
.theme-light .subHeader-3TFIST,
.noticePremium-12Zvj9 .button-1MICoQ:hover,
.contentBase-11jeVK,
.problemsText-1Yx-Kl,
.theme-light .appPromotion-2PUSOL,
.theme-light .title-3CgDLA,
.theme-light .title-rv8Fft,
.theme-light .attachPopoutRowText-1tIocA,
.theme-light .attachPopout-1n-ZKM,
.ack-2yIUvY,
.theme-dark .emailVerificationModal-3cfLjL .body-1_Foxn,
.theme-light .emailVerificationModal-3cfLjL .body-1_Foxn,
.theme-light .emailVerificationModal-3cfLjL .title-38uBel,
.theme-light .selectorText-9iPrCS,
.theme-light .titleSelected-1UkXLp,
.theme-light .tile-2QWaFv,
.theme-dark .container-OI6I9q,
.theme-light .input-2VB9rf,
.theme-light .quickswitcher-3JagVE,
.theme-dark .tipsWithoutResults-lGY-De,
.theme-dark .tipsWithResults-HhTE9b,
.theme-dark .emptyStateNote-ZYTetQ,
.theme-light .dmIconContainer-2yFeX3 .guildIcon-Ripiyt,
.theme-light .guildIconContainer-1M95yt .guildIcon-Ripiyt,
.theme-light .icon-30q1Or,
.theme-light .contentDefault-16dKSY,
.theme-light .contentDefault-16dKSY .note-S--UP5,
.theme-light .contentUnread-3gTHvA,
.theme-light .contentUnread-3gTHvA .note-S--UP5,
.theme-dark .dmIconContainer-2yFeX3 .guildIcon-Ripiyt,
.theme-dark .guildIconContainer-1M95yt .guildIcon-Ripiyt,
.theme-dark .contentDefault-16dKSY .note-S--UP5,
.theme-dark .contentUnread-3gTHvA .note-S--UP5,
.inviteModal-34DdOm .inviteBody-1Y3j7y,
.fancy-cvar(--color3)it-input .expiration-placeholder,
.fancy-cvar(--color3)it-input input,
.theme-light .listRow-hutiT_:hover,
.theme-light .listRow-hutiT_,
.theme-light .connectedAccountName-f8AEe2,
.theme-light .topSectionNormal-2-vo2m .username-3gJmXY,
.emptyText-6tYmO5,
.userInfoSectionHeader-CBvMDh,
.theme-light .guild-settings-members-member .name,
.theme-dark .guild-settings-members-member .tag,
.theme-light .invite-settings-invite-row,
.theme-light .guild-settings-banned-user-modal .reason-header,
.theme-light .guild-settings-banned-user-modal .reason,
.theme-light .guild-settings-banned-user-modal .user-discrim,
.theme-light .guild-settings-banned-user .username,
.theme-dark .guild-settings-banned-user-modal .reason,
.theme-dark .guild-settings-banned-user-modal .user-discrim,
.theme-dark .guild-settings-banned-user .username .discrim,
.theme-dark .prefixInputPrefix-2IUJ4X,
.theme-dark .prefixInputInput-cqxbLV::placeholder,
.theme-dark .prefixInputInput-cqxbLV:-ms-input-placeholder,
.theme-dark .prefixInputInput-cqxbLV::-webkit-input-placeholder,
.theme-light .prefixInputInput-cqxbLV,
.theme-light .popout-3dRSmEListEmpty-3P4cYF,
.theme-light .searchBar-1MOL6S .input-3Xdcic::placeholder,
.theme-light .searchBar-1MOL6S .input-3Xdcic:-ms-input-placeholder,
.theme-light .searchBar-1MOL6S .input-3Xdcic::-webkit-input-placeholder,
.theme-light .searchBar-1MOL6S .input-3Xdcic,
.theme-light .quickSelectPopout-X1hvgV,
.theme-light .quickSelect-3BxO0K,
.theme-light .selectableItem-1MP3MQ,
.theme-dark .text-GwUZgS,
.theme-dark .title-2BxgL2,
.theme-dark .timestamp-1mruiI,
.theme-light .timestamp-1mruiI,
.theme-light .userHook-3AdCBF,
.theme-light .auditLog-3jNbM6 strong,
.theme-light .auditLog-3jNbM6,
.theme-light .input-1UhAnY,
.theme-light .top-28JiJ- .itemDefault-3Jdr52:hover,
.theme-light .top-28JiJ- .itemHover-EnbcjT:hover,
.theme-light .side-8zPYf6 .itemDefault-3Jdr52:hover,
.theme-light .side-8zPYf6 .itemHover-EnbcjT:hover,
.theme-light .itemDefault-3Jdr52,
.theme-light .itemHover-EnbcjT,
.theme-dark .header-2RyJ0Y,
.theme-dark .ui-standard-sidebar-view .esc-text,
.theme-light .guildName-3WI6ml,
.theme-light .override-2YgiXd,
.theme-light .overrideHighlight-YPcBxt,
.theme-light .channelName-28iMRJ,
.theme-light .subtitle-3csUrC,
.theme-light .cloneInfo-1OC_Ee strong,
.theme-light .radioGroup-1GBvlr,
.theme-dark .avatar-uploader .remove-button:hover,
.theme-light .avatar-uploader .remove-button:hover,
.theme-light .date-2WJGyu,
.theme-dark .embedFooterSeparator-3klTIQ,
.embedFields-2IPs5Z,
.embedTitle-3OXDkz,
.embedAuthorName-3mnTWj,
.theme-light .content-8biNdB p,
.theme-light .content-8biNdB ul li,
.keyboard-shortcuts-modal .keyboard-shortcut-list .keybind-group .keybind-description,
.keyboard-shortcuts-modal .modal-title,
.keybindShortcut-1BD6Z1,
.iconMuted-1HVBGH,
.nameMuted-1MCOt4,
.iconCollapsed-3hFp_8,
.iconDefault-3Gr8d2,
.nameCollapsed-34uFWo,
.nameDefault-2DI02H,
.nameMutedText-3Vj4bM,
.nameMutedVoice-3oxyQZ,
.nameDefaultVoice-3WUH7s,
.nameLockedText-3pqQcL,
.nameLockedVoice-26MhB1,
.colorMutedText-36M8WR,
.colorMutedVoice-3ghIuw,
.form-deprecated .Select-option-96V44q.is-focused,
.form.deprecated .Select-option-96V44q.is-focused,
.form-deprecated .Select-option-96V44q,
.form.deprecated .Select-option-96V44q,
.form-deprecated .has-value .Select-placeholder,
.form.deprecated .has-value .Select-placeholder,
.form-deprecated .control-group select,
.form.deprecated .control-group select,
.form-deprecated .control-group input[type=email],
.form-deprecated .control-group input[type=number],
.form-deprecated .control-group input[type=password],
.form-deprecated .control-group input[type=text],
.form-deprecated .control-group textarea,
.form.deprecated .control-group input[type=email],
.form.deprecated .control-group input[type=number],
.form.deprecated .control-group input[type=password],
.form.deprecated .control-group input[type=text],
.form.deprecated .control-group textarea,
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .blurb-zsamaY,
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .form-header header,
.theme-light .inputDefault-A2ud2y,
.nameDefault-2s3kbY,
.theme-light .title-31JmR4,
.theme-dark .description-3_Ncsb,
.theme-dark .labelDescriptor-1PqHgD,
.theme-dark .select-2TCrqx .Select-control .Select-placeholder,
.theme-light .select-2TCrqx .Select-input input,
.theme-light .select-2TCrqx .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label,
.theme-light .select-2TCrqx .has-value.Select--single>.Select-control .Select-value .Select-value-label,
.theme-light .select-2TCrqx .Select-value-label,
.maxLength-39QFBo,
.theme-dark .markValue-2DwdXI,
.theme-light .headerNormal-T_seeN .headerName-fajvi9,
.theme-light .headerNormal-T_seeN .headerTagUsernameNoNickname-2_H881,
.bodyTitle-Y0qMQz,
.theme-light .actionButton-VzECiy,
.overflowRolesPopoutHeaderText-1SW-y3,
.theme-light #autocomplete-popout .empty h4,
.theme-light #autocomplete-popout .row.selected a,
.theme-light #autocomplete-popout .row:hover a,
.theme-light #autocomplete-popout .row,
.theme-light #autocomplete-popout .row a,
.theme-light #autocomplete-popout section,
.theme-light #autocomplete-popout input[type=text],
.theme-dark #autocomplete-popout .empty p,
.theme-dark #autocomplete-popout input[type=text]::placeholder,
.theme-dark #autocomplete-popout input[type=text]:-ms-input-placeholder,
.theme-dark #autocomplete-popout input[type=text]::-webkit-input-placeholder,
.theme-dark #autocomplete-popout h2,
.theme-light .playerOverflow-EcFDW9,
.theme-light .playersHeader-3eAXeI,
.theme-light .gameName-OGPSKf,
.theme-light .publisher-16jX0X,
.theme-dark .publisher-16jX0X,
.subtitle-rPfx7J,
.theme-light .themedPagination-2b9cm5 .arrow-3P7Bg_,
.theme-light .body-2OD0kB,
.theme-light .title-yz6amd,
.theme-light .activityActivityFeed-3xysim .content-3JfFJh,
.theme-light .activityActivityFeed-3xysim .details-38sfDr,
.theme-dark .input-cIJ7To::placeholder,
.theme-dark .input-cIJ7To:-ms-input-placeholder,
.theme-dark .input-cIJ7To::-webkit-input-placeholder,
.theme-light .input-cIJ7To,
.theme-light .h5-18_1nd,
.theme-light .defaultColor-1_ajX0,
.theme-light .close-18n9bP,
.theme-light .cardPrimary-1Hv-to a,
.primary700-2GKfND,
.primary600-2R4IzX,
.primary500-wK_SoU,
.primary400-hm0Rav,
.primary-2eADX4,
.theme-light .primary-jw0I4K,
.themeLight-Hp2h58,
.theme-light .theme-dark .lookGhost-2Fn_0-.hoverTransparent-2Lz5CN.hasHover-3X1-zV:active,
.theme-light .theme-light .lookGhost-2Fn_0-.hoverTransparent-2Lz5CN.hasHover-3X1-zV:active,
.theme-light .theme-dark .lookOutlined-3sRXeN.hoverTransparent-2Lz5CN.hasHover-3X1-zV:active,
.theme-light .theme-light .lookOutlined-3sRXeN.hoverTransparent-2Lz5CN.hasHover-3X1-zV:active,
.theme-light .theme-dark .lookFilled-1Gx00P.hoverTransparent-2Lz5CN.hasHover-3X1-zV:active,
.theme-light .theme-light .lookFilled-1Gx00P.hoverTransparent-2Lz5CN.hasHover-3X1-zV:active,
.theme-light .theme-dark .lookFilled-1Gx00P.hoverTransparent-2Lz5CN.hasHover-3X1-zV:hover,
.theme-light .theme-light .lookFilled-1Gx00P.hoverTransparent-2Lz5CN.hasHover-3X1-zV:hover,
.theme-light .lookLink-9FtZy-.colorTransparent-1ewNp9,
.theme-light .lookGhost-2Fn_0-.colorTransparent-1ewNp9,
.theme-light .lookOutlined-3sRXeN.colorTransparent-1ewNp9,
.theme-light .lookFilled-1Gx00P.colorTransparent-1ewNp9,
.theme-light .theme-dark .lookFilled-1Gx00P.hoverPrimary-2D1j2r.hasHover-3X1-zV:active,
.theme-light .theme-light .lookFilled-1Gx00P.hoverPrimary-2D1j2r.hasHover-3X1-zV:active,
.theme-light .theme-dark .lookFilled-1Gx00P.hoverPrimary-2D1j2r.hasHover-3X1-zV:hover,
.theme-light .theme-light .lookFilled-1Gx00P.hoverPrimary-2D1j2r.hasHover-3X1-zV:hover,
.theme-light .lookFilled-1Gx00P.colorPrimary-3b3xI6,
.theme-dark .theme-dark .lookInverted-2D7oAl.hoverPrimary-2D1j2r.hasHover-3X1-zV:active,
.theme-dark .theme-light .lookInverted-2D7oAl.hoverPrimary-2D1j2r.hasHover-3X1-zV:active,
.theme-dark .theme-dark .lookInverted-2D7oAl.hoverPrimary-2D1j2r.hasHover-3X1-zV:hover,
.theme-dark .theme-light .lookInverted-2D7oAl.hoverPrimary-2D1j2r.hasHover-3X1-zV:hover,
.theme-dark .lookInverted-2D7oAl.colorPrimary-3b3xI6,
.theme-dark .lookFilled-1Gx00P.hoverWhite-2uUmXw.hasHover-3X1-zV:active,
.theme-light .lookFilled-1Gx00P.hoverWhite-2uUmXw.hasHover-3X1-zV:active,
.theme-dark .lookFilled-1Gx00P.hoverWhite-2uUmXw.hasHover-3X1-zV:hover,
.theme-light .lookFilled-1Gx00P.hoverWhite-2uUmXw.hasHover-3X1-zV:hover,
.lookFilled-1Gx00P.colorWhite-rEQuAQ,
.theme_light-3pFauF .note-450gs3,
.theme_light-3pFau {
    color: var(--text-color)
}

#app-mount path[fill="#4f545c"] {
    fill: var(--color2)
}
#bd-settingspane-container button,
.button-38aScr:not([class*="colorGreen-29iAKY"]):not([class*="colorRed-1TFJan"]):not([class*="colorLink-35jkBc"]):not([class*="attachButton"]) {
    background-color: rgba(0, 0, 0, 0.3);
}

.theme-dark .member-3W1lQa-3W1lQa.popout-3dRSmE-open .content-OzHfo4,
.theme-dark .member-3W1lQa-3W1lQa.popout-3dRSmE-open:hover .content-OzHfo4,
.theme-dark .member-3W1lQa:hover .content-OzHfo4,
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4,
.theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4,
.theme-dark .messagesPopoutWrap-1MQ1bW,
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group , #app-mount .header-39GIC8{
    background-color: var(--color3)
    }
.theme-dark .description-3_Ncsb, .theme-dark .labelDescriptor-1PqHgD, .bodyTitle-Y0qMQz, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1, .iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .nameCollapsed-34uFWo, .nameDefault-2DI02H, .membersGroup-v9BXpm {
    color: var(--selection-color) !important ;
}
.theme-dark .sidebarRegion-VFTUkN ,.theme-dark .contentRegion-3nDuYy{
    background: transparent;
}
.themeDark-3Ap_7i,.standardSidebarView-3F1I7i,.da-standardSidebarView{
    background-color: transparent !important;
}
.theme-dark .searchOption-zQ-1l6 {
    color:var(--text-color);
}
#app-mount .option-96V44q:hover .answer-1n6g43 {
    color:var(--selection-color);
}
#app-mount .theme-dark .option-96V44q:after {
    background: none;
}
